services:

  matcher_worker:
    build: .
    command: ["bash", "/app/docker/run_matcher_loop.sh"]
    volumes:
      - ./:/app
      - ./logs:/app/logs
    env_file: .env
    restart: unless-stopped
    mem_limit: 2g
